html {
    color: #000;
    background: #fff;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    
}

html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body,h1,h2,h3,h4,p,ul,dl,dd{margin:0;padding:0;}
a{text-decoration:none}
li{list-style:none}
.clearfix{zoom:1}
.clearfix:after{content:"";display:block;clear:both}
form{margin:0}
input{padding:0}
img{border:none;vertical-align:top}
strong{font-weight:normal}
em,i{font-style:normal}
html{height:100%;}
body{
    margin:0;
    height:100%;
    overflow:hidden;
    position:relative;
    font-family: -apple-system,"PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
}
body{
    background: #fff;
    font-size: 0.4rem;
    color: #434348;
}
section {
    width: 100%;
    position: relative;
    z-index: 5;
    background: #fbfcff;
}
.topic-item{
    margin-bottom: 0.5rem;
}
.topic-title{
    padding-top: 0.1rem;
    position: relative;
}
.topic-head{
    line-height: 1.25rem;
    padding-left: 1.4rem;
    background: #fafafa;
}
.topic-head .num{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    position: absolute;
    top:0;
    left: 0;
    background: #46c37b;
    color: #fff;
}
.sub-title i {
    color: #46c37b;
}
.xh-label {
    margin-right:0.45rem;
    cursor: pointer;
}
.xh-label input[type=checkbox],.xh-label input[type=radio] {
    opacity: 0;
    position: absolute;
    left: -9999px;
    z-index: 12;
    width: 0.45rem;
    height:0.45rem;
    cursor: pointer;
}
.xh-radioInput {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    display: inline-block;
    height: 0.4rem;
    margin-right: 0.4rem;
    margin-top: -1px;
    vertical-align: middle;
    width: 0.4rem;
    line-height: 1;
}

.xh-checkboxInput{
    display: inline-block;
    margin: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    line-height:1;
    height:0.4rem;
    width:0.4rem;
    vertical-align: middle;
    font-weight: normal;
    margin-right: 0.4rem;
    margin-top: -1px;
}

.topic-content{
    padding-left: 1.5rem;
    line-height: 0.85rem;
    background: #fff;
}
.question-option{
    line-height: 0.9rem;
}
.answer{
    padding-top: 0.25rem;
}
.answer-tool {
    font-size: 0.35rem;
    line-height: 1.35rem;
    padding-left: 1.5rem;
    background-color: #f3fef7;
    border-top: #d8d8d8 dashed 1px;
    border-bottom: #d8d8d8 dashed 1px;
    color: #82888c;
}
.answer-tool .answerOption{
    color: #f10b10;
    margin-left: 0.2rem;
    font-size: 0.4rem;
}
.answer-analyze{
    position: relative;
    padding-top:0.5rem ;
    font-size: 0.35rem;
    line-height: 0.6rem;
    background: #fff;
    color: #666;
}
.answer-analyze .resolve{
    float: left;
    padding-left: 1.5rem;
    line-height: 0.4rem;
    position: absolute;
    top:0.6rem
}
.answer-analyze .resolve img{
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    margin-right: 0.2rem;
}
.answer-analyze .txt {
    float: left;
    padding-left: 6rem;
    line-height: 1rem;
    font-size: 0.35rem;
}
.paperFoot{
    width: 100%;
    margin-top: 0.25rem;
}
.paperFoot .showAnalyze{
    width: 6.5rem;
    margin: 0 auto;
    line-height: 0.9rem;
    background: #ff7700;
    color: #fff;
    text-align: center;
    font-size: 0.35rem;
}