*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.wrap{
	width: 750px;
	height: auto;
	background: #f5f5f5;
	margin: 0 auto;
	position: relative;
}
.wrap .top{
	width: 100%;
	height: auto;
}
.wrap .top img{
	width: 100%;
	height: auto;
}

.mobileLogin{
	width: auto;
	height: auto;
	padding: 0 30px;
}
.mobileLogin form div{
	padding: 0 8px;
	height: 98px;
	border-bottom: #e5e5e5 solid 2px;
	position: relative;
}
.mobileLogin form div input{
	outline: none;
	width: 80%;
	height: 98px;
	font-size: 28px;
	border: none;
	background: #f5f5f5;
}
.mobileLogin .mobileNum .close{
	background: url(../imgs/close.png);
	width: 27px;
	height: 27px;
	position: absolute;
	top: 50%; right: 10px;
	margin-top: -14px;
	display: none;
}
.mobileLogin .msgCode .getMsgCode{
	display: inline-block;
	width: 148px; height: 60px;
	position: absolute;
	right: 0; top: 22px;
	border-radius: 5px;
	background: #ff2e89;
	text-align: center;
	line-height: 60px;
	color: #FFFFFF;
	font-size: 22px;
}
.mobileLogin form input[type="submit"]{
	width: 100%;
	height: 88px;
	border-radius: 5px;
	background: #FF2E89;
	line-height: 88px;
	text-align: center;
	color: #FFFFFF;
	font-size: 28px;
	border: none;
	margin: 60px 0;
}
.mobileLogin .tip{
	font-size: 34px;
	color: #000000;
	text-align: center;
	margin-bottom: 70px;
}

.products{
	padding: 0 30px 18px;
	height: auto;
}
.products .proGroup{
	height: 430px;
	margin-bottom: 20px;
	background: #fdeaf0;
	padding: 0 30px;
	overflow: hidden;
}
.products .proGroup .txt{
	text-align: center;
	font-size: 26px;
	line-height: 26px;
	margin: 36px auto;
}
.products .proGroup .pros li{
	float: left;
	width: 172px; height: 290px;
	background: #fff;
	margin-right: 15px;
	padding: 0 14px;
}
.products .proGroup .pros li:last-child{
	margin-right: 0;
}
.products .proGroup .pros li img{
	width: 120px; height: 120px;
	margin: 26px 0 0 26px;
}
.products .proGroup .pros li h4{
	font-size: 24px;
	line-height: 40px;
}
.products .proGroup .pros li p{
	color: #FF2E89;
	padding-left: 8px;
}
.products .proGroup .pros li span{
	font-size: 18px;
}
.products .proGroup .pros li .price{
	font-size: 30px;
}

.wrap .mask{
	width: 750px; height: 100%;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -370px;
	background: rgba(0,0,0,.6);
	display: none;
}
.wrap .proMask{
	position: fixed;
	top: 206px;
	left: 50%;
	z-index: 99;
	width: 580px;
	height: 845px;
	margin: auto;
	margin-left: -290px;
	background: #FFFFFF;
	border-radius: 4px;
	padding: 0 30px;
	display: none;
}
.wrap .proMask .img{
	text-align: center;
}
.wrap .proMask img{
	width: 386px; height: 386px;
	margin-top: 86px;
}
.wrap .proMask .txt h4{
	font-size: 34px;
	line-height: 50px;
}
.wrap .proMask .txt>span{
	font-size: 24px;
	line-height: 40px;
}
.wrap .proMask .txt em{
	font-size: 24px;
	border: #c6c6c6 solid 2px;
	border-radius: 3px;
	padding: 2px 5px;
}
.wrap .proMask .txt .proInfo{
	margin-top: 36px;
	position: relative;
}
.wrap .proMask .txt .proInfo span{
	color: #FF2E89;
	font-size: 24px
}
.wrap .proMask .txt .proInfo span.brand{
	margin: 0 12px;
	font-size: 18px;
}
.wrap .proMask .txt .proInfo span.price{
	font-size: 30px;
}
.wrap .proMask .txt .proInfo p.right{
	position: absolute;
	right: 0; bottom: 0;
	line-height: 1;
}
.wrap .proMask .txt .proInfo p.right span{
	color: #989898;
}
.wrap .proMask .buyBtn{
	display: block;
	width: 100%;
	height: 88px;
	background: #FF2E89;
	cursor: pointer;
	font-size: 30px;
	line-height: 88px;
	text-align: center;
	color: #FFFFFF;
	border-radius: 5px;
	margin-top: 30px;
}

::-webkit-input-placeholder { /* WebKit browsers */
　　color:#a9a9a9;
　　}
　　:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
　　color:#a9a9a9;
　　}
　　::-moz-placeholder { /* Mozilla Firefox 19+ */
　　color:#a9a9a9;
　　}
　　:-ms-input-placeholder { /* Internet Explorer 10+ */
　　color:#a9a9a9;
　　}