@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style:none; text-decoration:none;}
img{border:none;}
#box{width:1086px;height:600px;margin:20px auto;position:relative;background:url(images/bg1.jpg) no-repeat;background-size:1086px 560px;opacity:0.3;}
#logo{width:100px;height:74px;position:absolute;left:-36px;}
#logo img{width:100px;height:74px;}
#product{width:100%;height:100%;position:relative;}
.smaImg{float:left;position:relative;}
.smaImg:first-child{width:362px;height:188px;}
.img img{width:362px;height:188px; display:block; opacity:0; transition:1s;}
.txt{position:absolute;top:0;left:0;padding:10px;font:14px/18px "宋体";color:#fff;width:30px;}
.txt a{color:#fff;}
.img img:hover{opacity:1;}
.oh{position:absolute;left:0;top:376px;width:0;height:1px;background:#999;}
.th{position:absolute;left:0;top:188px;width:0;height:1px;background:#999;}
.ov{position:absolute;left:362px;top:0;width:1px;height:0;background:#999;}
.tv{position:absolute;left:724px;top:0;width:1px;height:0;background:#999;}
#bot{position:relative;}
#bot div{position:absolute;bottom:15px;width:1086px;height:20px;padding-left:130px;}
#bot div .bl{float:left;margin-right:100px;}
#bot div .br{}
#bot div .bl li{float:left;font:14px/14px "宋体";border-right:1px solid #999;color:#666;padding:0 5px;}
#bot div .bl li:nth-of-type(5){border:none;}
#bot div .bl li:nth-of-type(5){width:110px;background:url(images/vip.jpg) no-repeat 92px 0;}
#bot div .br li{font:14px/14px "宋体";color:#666;float:left;padding:0 5px;}
#bot div .br li:nth-of-type(2){width:20px;cursor:pointer;}

.mask{width:160px;height:188px;background:rgba(0,0,0,.5);position:absolute;right:0;bottom:40px;display:-none;opacity:0;}
.mask img{width:92px;height:92px;padding:32px 32px 5px 32px ;}
.mask span{color:#fff;text-align:center;font:14px/16px "宋体";width:92px;float:left;padding-left:32px;}
<!--#bot div .br img:hover .mask{opacity:0;}-->
<!--188  560  362 1086-->
